@media (max-width: 1200px) {
  .s-hero .text {
    max-width: 50%;
  }
  .s-card-featured .all-cards {
    width: 100%;
  }
  .s-card-featured .all-cards .card {
    width: 32%;
  }
  .s-card-featured .second-area .all-imgs {
    gap: 2rem 2%;
  }
  .s-card-featured .second-area .all-imgs .image {
    width: 23.5%;
  }
  /* footer */
  footer main nav {
    max-width: 63rem;
  }
}

@media (max-width: 991px) {
  header nav {
    display: none;
  }
  header .menu-mobile {
    display: block;
    background-color: var(--brown-color-2);
    color: var(--gray-colors-100);
  }
  header .menu-mobile:hover {
    color: var(--white-color-1);
  }
  .s-hero .container {
    flex-direction: column;
  }
  .s-hero .text {
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
  }
  .s-card-featured .all-cards {
    flex-direction: column;
  }
  .s-card-featured .all-cards .card {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
    padding: 3rem;
  }
  .s-card-featured .all-cards .card .info {
    margin-top: 2rem;
    text-align: center;
    max-width: 100%;
  }
  .s-card-featured .all-cards .card .info p {
    margin-top: 1rem;
  }

  .s-card-featured .all-cards .card:last-child {
    margin-bottom: 0px;
  }
  /* footer */
  footer main nav {
    max-width: 45rem;
  }
}

@media (max-width: 768px) {
  footer main {
    flex-direction: column;
    align-items: center;
  }
  footer main .area-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4.8rem;
  }
  footer main .area-left p {
    text-align: center;
  }
  footer main nav {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .s-card-featured .second-area .top {
    flex-direction: column;
    align-items: center;
  }
  .s-card-featured .second-area .top .title h2,
  .s-card-featured .second-area .top .title p {
    text-align: center;
  }
  .s-card-featured .second-area .top .title {
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 55%;
  }
  #logo {
    max-width: 80%;
  }
  h1 {
    font-size: 4.2rem;
  }
  .s-hero .text p {
    margin-bottom: 2.8rem;
  }
  .s-hero .image {
    height: 30rem;
  }
  .s-hero .image img {
    display: none;
  }
  .s-card-featured {
    padding: 4rem 0px;
  }
  .s-card-featured .title p {
    text-align: center;
    max-width: 80%;
  }
  .s-card-featured .main-area {
    padding-bottom: 4rem;
  }
  .s-card-featured .second-area {
    margin-top: 4rem;
  }
  .s-card-featured .second-area .top p {
    margin: 0 auto;
  }
  .s-card-featured .second-area .top {
    margin-bottom: 3rem;
  }
  .s-card-featured .second-area .all-imgs {
    gap: 0.5rem 2%;
  }
  .s-card-featured .second-area .all-imgs .image {
    width: 49%;
  }
  /* newsletter */
  .s-newsletter {
    padding: 4rem 0px;
  }
  /* copy */
  footer {
    padding: 4rem 0px;
  }
  footer main {
    padding-bottom: 4rem;
  }
  footer .copy {
    display: flex;
    flex-direction: column;
    gap: 2rem 0px;
  }
  footer main nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer main nav .item {
    margin-bottom: 4rem;
  }
  footer main nav .item:last-child {
    margin-bottom: 0px;
  }
  footer main nav .item:last-child ul li a {
    display: flex;
    flex-direction: column;
  }
}
